* {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.6;
    font-size: 1rem;
    font-family: 'Manrope', sans-serif;
    background-color: hsl(218, 23%, 16%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

/* Typography */
.title {
    font-size: 0.8rem;
    color: hsl(150, 100%, 66%);
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
}

.advice {
    font-size: 1.5rem;
    color: hsl(193, 38%, 86%);
}

.footer {
    color: hsl(193, 38%, 86%);
}


/* Layout */

.container {
    max-width: 600px;
    width: 90%;
    margin: 0 auto;
    padding: 1em;
    background-color: hsl(217, 19%, 24%);
    border-radius: 10px;
    text-align: center;
}

.main {
    margin-bottom: 3em;
}